.loading__container {
width:80%;

 }

 .bar__loading {
    position: absolute;
    top:9%;
 }


 
 .uploading__content {
     font-size: 0.6rem;
     font-weight: lighter;
     margin-bottom: 20px;
 }
 
 
 progress {
     width:100%;
     height:1px;
     position: relative;
     border-radius: 5px;
 }

 .spinner__container {
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top:50%;
    display: flex;
    align-items: center;
    gap:5px;
    
 }





 
 


 
 
 @media (max-width: 640px) {
     .loading__container {
         width:80%;
         left:10%;
     }
 }

 .loading__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-animation: slide ease-out 1s infinite;
    animation: slide ease-out 1s infinite;
}

@-webkit-keyframes slide {
    0% {
        left: -50%;
    }
    100% {
        left: 100%
    }
}

@keyframes slide {
    0% {
        left: -50%
    }
    100% {
        left: 100%
    }
}
