.toast {
  color: #121826;
  font-size: 0.875rem !important;
  font-weight: 600;
  width: 400px;
}

.toast__progress {
    background-image: url(/src/assets/gradiend-bg@2x.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 30% 30%;
    background-color: #E5E7EB;
}

.toast__body {
    display: flex;
    gap:50px; 
}

