.load__more {
    color: #6C727F;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.results__container {
    margin-top: 40px;;

    /* display: flex; */
    /* gap:20px;  */
    column-count:4;
    column-gap: 16px;
}

.loading__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-animation: slide ease-out 1s infinite;
    animation: slide ease-out 1s infinite;
}

@-webkit-keyframes slide {
    0% {
        left: -50%;
    }
    100% {
        left: 100%
    }
}

@keyframes slide {
    0% {
        left: -50%
    }
    100% {
        left: 100%
    }
}

.no__images {
    display: flex;
    width:100vw;
    justify-content: center;
    margin-top: 50px;;
}

.results__container .results__single__img {
    border-radius: 5px;
    width:100%;
    margin-bottom: 16px;
    display: inline-block;
}

@media (max-width: 950px) {
    .results__container {
        column-count: 3;
    }
}

@media (max-width: 700px) {
    .results__container {
        margin-top: 80px;
        column-count: 2;
        column-gap: 0px;
       

  
    }
    .results__container .results__single__img {
        width:93%;
        margin: 0 auto;
        margin-bottom: 16px;;
        
      
    }

  
  
}

